@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --branco-theme:#F6E8EA;  
    --vermelho-theme:#EF626C;
    --marrom-theme:#22181C ;
    --preto-theme:#312F2F ;
    --azul-theme:#84DCCF ;
}
*{
    font-family: 'Inter', sans-serif;
}
.texto-branco{
    color: var(--branco-theme);
}
.texto-preto{
    color: var(--preto-theme);
}
.texto-vermelho{
    color: var(--vermelho-theme);
   
}
body{
    background-color: var(--preto-theme);

}

.perfil-foto{
     width: 150px;
     height: 150px;
    border-radius: 800px !important;
    border:1px dashed black;
}
.perfil-foto:hover{
animation: moveToDown 1s  forwards;
    scale: 1.8;
    transition: 2s ;
}
@keyframes moveToDown {
    0% {
      transform: translateY(0px);
    }
   100% {
      transform: translateY(100px);
    }
 }
li{
    list-style: none;
    
}
 .lista-lateral li span{
display: flex;
padding: 10px;
margin-top: 10px;
justify-content: space-between;
border-radius: 20px;
background-color: var(--branco-theme);
flex-wrap: nowrap;
color: var(--preto-theme);
flex-wrap: wrap;
 }
 .lista-lateral{
    width: 90%;
   
    padding: 0;
 }
.barra-lateral{
 width: 30%;
  
background-color: var(--marrom-theme);

}
@media only screen and (max-width: 600px) {
.barra-lateral{
    display: none;
    position: absolute;
    z-index: 1;
    width: 40% !important;
    height: 100%;
}

.main{
    width: 100% !important;
}
#botao_voltar{
    display: block !important;
}
  }

.main{
    width:70%;
 
    background-color: var(--branco-theme);
}
 .unselect-text{
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
 }
 @keyframes moveToUp {
    0% {
      transform: translateY(0px);
    }
   100% {
      transform: translateY(500px);
    }
 }
  
.card-proj{
    width: 95%;
    margin-top: 20px;
}
.img-card{
    height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
 
@keyframes animacaoSidebar {
    0% {
      transform: width(0%);
    }
   100% {
      transform: width(-80%);
    }
 }